/* *************** font Family einfügen ********** */
@font-face {
    font-family: bodoniModa;
    src: url("../fonts/Bodoni_Moda/BodoniModa-VariableFont_opsz\,wght.ttf");
}

@font-face {
    font-family: openSans;
    src: url("../fonts/Open_Sans_1/OpenSans-VariableFont_wdth\,wght.ttf");
}

@font-face {
    font-family: roboto;
    src: url("../fonts/Roboto_3/Roboto-Regular.ttf");
}

@font-face {
    font-family: yuseiMagic;
    src: url("../fonts/Yusei_Magic/YuseiMagic-Regular.ttf");
}

/* *************** font aufruf ************** */

.classFontFamilyBodoniModa{
    font-family: bodoniModa, sans-serif;
}

.classFontFamilyOpenSans{
font-family: openSans, sans-serif;
}

.classFontFamilyRoboto{
    font-family: roboto, sans-serif;
}

.classFontFamilyYuseiMagic{
    font-family: yuseiMagic, sans-serif;
}

section {
    padding-top: 20vh;
    display: flex;
    justify-content: center;

    form {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        width: 50vw;
        border: 2px solid black;
        border-radius: 1rem;




        article {
            width: 20vw;
            padding: 2vh;
            display: flex;
            flex-direction: column;

            h1 {
                text-align: center;
                color: yellowgreen
            }
        }

    }
}

.h1{
    width: 40vw;
    font-size: clamp(1.5rem, 5vw, 2.5rem);
}

 .output {
    width: 40vw;
}

.range, .select, .text {
    width: 20vw;
}